<!DOCTYPE html>
<html lang="en">

<head>
     <%- include('./partial/head') %>
          <title>Home</title>
</head>

<body>
     <%- include('./partial/Nav') %>
     <%- include('./partial/script') %>

</body>

</html>