<!DOCTYPE html>
<html lang="en">

<head>
     <%- include('./partial/head') %>
          <title>Home</title>
</head>

<body>
     <%- include('./partial/Nav') %>
          <div class="container mt-3 col-md-4">
               <form>
                    <div class="mb-3">
                         <label for="exampleInputEmail1" class="form-label">FirstName</label>
                         <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="FirstName">
                    </div>
                    <div class="mb-3">
                         <label for="exampleInputEmail1" class="form-label">LastName</label>
                         <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="FirstName">
                    </div>
                    <div class="mb-3">
                         <label for="exampleInputEmail1" class="form-label">Email</label>
                         <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="FirstName">
                    </div>
                    <div class="mb-3">
                         <label for="exampleInputPassword1" class="form-label">Password</label>
                         <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="form-check mb-3">
                         <input class="form-check-input" type="radio" name="radioDefault" id="radioDefault1">
                         <label class="form-check-label" for="radioDefault1">
                             Male
                         </label>
                    </div>
                    <div class="form-check mb-3">
                         <input class="form-check-input" type="radio" name="radioDefault" id="radioDefault1">
                         <label class="form-check-label" for="radioDefault1">
                             Female
                         </label>
                    </div>
                    <div class="form-check mb-3">
                         <input class="form-check-input" type="radio" name="radioDefault" id="radioDefault2" checked>
                         <label class="form-check-label" for="radioDefault2">
                              Other
                         </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
               </form>
          </div>
          <%- include('./partial/script') %>

</body>

</html>